Django==1.8.7
Landscape-Client==14.01
MySQL-python==1.2.5
PAM==0.4.2
Pillow==2.3.0
Pygments==1.6
Twisted-Conch==13.2.0
Twisted-Core==13.2.0
Twisted-Mail==13.2.0
Twisted-Names==13.2.0
Twisted-Web==13.2.0
apt-xapian-index==0.45
argparse==1.2.1
boto==2.20.1
chardet==2.0.1
colorama==0.2.5
configobj==4.7.2
decorator==3.4.0
django-admin-bootstrapped==2.5.7
django-ckeditor==5.0.2
django-taggit==0.17.6
guppy==0.1.9
html5lib==0.999
ipython==1.2.1
lxml==4.6.3
pexpect==3.1
pyOpenSSL==0.13
pyasn1==0.1.7
pycrypto==2.6.1
pyserial==2.6
python-apt==0.9.3.5
python-debian==0.1.21-nmu2ubuntu2
requests==2.2.1
simplegeneric==0.8.1
six==1.5.2
ssh-import-id==3.21
uWSGI==2.0.12
urllib3==1.7.1
virtualenv==14.0.6
w3lib==1.5
wheel==0.24.0
wsgiref==0.1.2
zope.interface==4.0.5
